<section class="auth">
  <form name="auth">
    <fieldset class="regular">
      <label for="nickname">Nickname</label>
      <div class="input"><input type="text" name="nickname" id="nickname" placeholder="Choose your nickname wisely young padawan" /></div>

      <label for="email">Email address</label>
      <div class="input"><input type="email" name="email" id="email" placeholder="yourgravatar@ddress.here" /></div>

      <a href="/#/signup/service/">Or use a sign-in service</a>
      <button class="btn" type="submit">I'm ready!</button>
    </fieldset>
    <fieldset class="services">
      <h3>Spend more time <span class="brand">outside</span> using</h3>
      <button type="submit" name="facebook" class="btn facebook"><span></span>Facebook</button>
      <em>or</em>
      <button type="sumbit" name="twitter" class="btn twitter"><span></span>Twitter</button>

      <a href="/#/">Or login <span class="anonymous">Anonymous</span></a>
    </fieldset>
  </form>
  <aside>
    <dl>
      <dt>You are:</dt>
      <dd class="nickname">Anonymous!</dd>
      <dd class="gravatar"><img src="/i/anonymous.png" alt="Anonymous" /></dd>
    </dl>

    <h2>What is happening now</h2>
    <ul class="status">
      <li><strong><%= stats.users %></strong>online</li>
      <li><strong><%= stats.rooms %></strong>rooms</li>
      <li class="last"><strong><%= stats.shuffles %></strong>shuffles</li>
    </ul>
  </aside>
</section>