  <aside class="details">
    <dl>
      <dt class="nickname">Anonymous</dt>
      <dd class="since">Chatting since <time>20:00 GTM</time></dd>
      <dd class="gravatar"><img src="/i/anonymous.png" alt="Anonymous" /></dd>
    </dl>
    <ul class="status">
      <li><strong>1.235</strong>lines</li>
      <li><strong>8731</strong>words</li>
      <li class="last"><strong>123</strong>laps</li>
    </ul>

    <a class="btn pm">private message</a>
    <a class="btn block">block user</a>

    <h4>Recent conversations <a href="#/details/nickname/realtime" class="realtime"></a></h4>
    <hr />
    <ol>
      <li>Things you son of a bizzle. Curabitizzle crunk amizzle leo bizzle my shizz blandit dignissizzle. Crackalackin bling bling. Aenean get down get down. <time>10 minutes ago</time></li>
      <li>Get down get down ipsum dolizzle sit amizzle, consectetuer adipiscing izzle. <time>10 minutes ago</time></li>
      <li>Things you son of a bizzle. Curabitizzle crunk amizzle leo bizzle my shizz blandit dignissizzle. Crackalackin bling bling. Aenean get down get down. <time>10 minutes ago</time></li>
      <li>Get down get down ipsum dolizzle sit amizzle, consectetuer adipiscing izzle. <time>10 minutes ago</time></li>
    </ol>
  </aside>
