<aside class="users">
 <div class="users-active table">
  <div class="joined tr"></div>
  <footer class="pm t-foot"></footer>
 </div>
</aside>
<script type="text/template" id="user">
<div class="user" id="[%= type == 'pm' ? type : 'user' %]_[%= slug %]" data-slug="[%= slug %]">
  <a href="#/details/[%= slug %]" class="details">
    <img src="[%= avatar %]" alt="[%= nickname %]" />
  </a>
  <a href="#/message/[%= slug %]" class="message">[%= nickname %]</a>
  [% if(type == 'pm'){ %]
  <span>[%= unread %]</span>
  [% } %]
</div>
</script>